<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Epsilon Visualizer</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">For Users</a></li>
            <li><a href="/researchers">For Researchers</a></li>
            <li><a href="/aboutdp">About DP</a></li>
        </ul>
    </div>
    <div class="container">
        <h1 id="epsilon-optimizer">Epsilon Visualizer + Optimizer</h1>
        <p>This tool both visualizes how epsilon works for users and calculates the optimal epsilon value that maximizes the welfare function for differential privacy parameters.</p>
        
        <h2>Meet the Team</h1>
        <p>This project was created by Vihaan Gupta, Jade Nair, Julia Shephard, and Natalia Siwek for Harvard's CS208 class.</p>

        <h2>Codebase</h2>
        <p>The code for this project can be found on GitHub at https://github.com/jnair37/cs208-tool.</p>

        <h2>Learn More</h1>
        <p>To learn more, we recommend the following resources:</p>
        <ul>
            <li>Taking CS208: Applied Privacy for Data Science!</li>
            <li><a href="https://opendp.org/">OpenDP</a></li>
            <li>Hands-On Differential Privacy by Cowan, Shoemate, and Pereira</li>
        </ul>

        

    </div>
    
</body>
</html>