<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Epsilon Visualizer</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">For Users</a></li>
            <li><a href="/researchers">For Researchers</a></li>
            <li><a href="/aboutdp">About DP</a></li>
        </ul>
    </div>

    <div class="container">

    </div>
</body>
</html>