<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Epsilon Visualizer</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users">For Users</a></li>
            <li><a href="/researchers">For Researchers</a></li>
            <li><a href="/aboutdp">About DP</a></li>
        </ul>
    </div>
    

    <div class="container">
        <div class="home-setup">
            <h1> Welcome to our Epsilon Visualizer tool! </h1>
            <h2>Select option to begin</h2>
            <button><a href="/users">I'm a User</a></button>
            <button><a href="/researchers">I'm a Researcher</a></button>  
            <br>
            <br>
            <p><strong>Users: </strong> Understand the privacy implications of participating in the study; make an informed decision about how your data is used.</p>
            <p><strong>Researchers: </strong>The researcher tool is intended for research study designers to understand how to set a global value of epsilon that maximizes the total welfare of their study via our definition that takes into account the non-participating users from above.</p>
            
        </div>
    </div>
 


</body>
</html>