<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epsilon Visualizer</title>
</head>
<body>
   <h1>Before beginning, find your epsilon!</h1>
    <div id="slider1">
        How much do you like filling out research surveys? <input type="range" id="slope" min="0" max="100" value="50">
    </div>
    <div id="slider2">
        How much privacy do you like? <input type="range" id="intercept" min="0" max="100" value="50">
    </div>
    <div id="submit">
        <button id="submit-button">Generate Graph</button>
    </div>
    <div class="plot-container">
        <img src="{{ url_for('gen_plot') }}" alt="Plot">
    </div>
<!-- 
<script>
    slider1 = document.getElementById("slope");
    slider2 = document.getElementById("intercept");
    button = document.getElementById("submit-button");
    

    button.addEventListener('click', function() {
       const slope = slider1.value;
       const intercept = slider2.value; 
       fetch('/gen_plot', {
        method:'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            slope: slope,
            intercept: intercept
        })
       }).then(response => response.json())
       .then(data => {

       })
    });

    // Best to have a submit button that regenerates graph 


</script> -->

</body>
</html>